.footer{
    width: 100vw;
    font-size: small;
    font-weight: 300;
    height: 4rem;
    background-color: rgb(40,  40,  40);
    display: flex;
    align-items: center;
    justify-content: center;
}